<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gulp.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net45" />
  <package id="gulp-rename.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net45" />
  <package id="node.TypeScript.DefinitelyTyped" version="0.8.9" targetFramework="net45" />
  <package id="rimraf.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net45" />
</packages>