div.wrap-canvas {
    display: inline-block;
    border-style: solid;
    border-width: thin;
}

div.manual-input {
    margin: 5%;
    display: none;
}

button.manual-input[id$="_detail"] {
    width: 90%;
}

button.manual-input[id$="_reset"] {
    width: 10%;
}
