div.wrap-canvas {
    display: inline-block;
    border-style: solid;
    border-width: thin;
}

div.detail {
    margin: 5% !important;
}

dl.detail > dd {
    text-align: right;
}

button.fluid {
    width: 100%;
}

table {
    table-layout: fixed;
}
