.wrap-canvas {
    display: inline-block;
    border-style: solid;
    border-width: thin;
}

.wrap-detail {
    border-left: 1px solid #808080;
}

.detail {
    margin: 5%;
}

    .detail > dd {
        text-align: right;
    }

.editable {
    table-layout: fixed;
}

    .editable > tbody > tr > td {
        vertical-align: middle;
    }
