div.wrap-canvas {
    display: inline-block;
    border-style: solid;
    border-width: thin;
}

div.manual-input {
    margin: 5%;
    display: none;
}

button.manual-input {
    margin: 5%;
    width: 90%;
}
