<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Visual RemoteTech Planner for KSP</title>

    <link href="content/bootstrap.min.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />

    <script src="scripts/jquery-2.1.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-cookies.min.js"></script>
    <script src="scripts/easeljs-0.7.1.min.js"></script>
    <script src="appOut.js"></script>
</head>
<body>
    <div class="container">
        <h1>Visual RemoteTech Planner for KSP</h1>

        <!-- intro -->
        <div class="row">
            <div class="col-md-12">
                <h2>Description</h2>
                <a href="http://forum.kerbalspaceprogram.com/threads/83305-Development-Resumed-RemoteTech-2">RemoteTech2</a> is one of the popular mods for <a href="https://kerbalspaceprogram.com/">Kerbal Space Program</a>.
                It provides purposes to launch and operate satellites in the space.<br />
                Before starting a countdown at the launch pad, how about planning and visualizing the satellite network that you aim at with this web-based planner?<br />
                Put needed values into Data input, then hit Calculate or press enter key.<br />
                <br />
                Forum is <a href="http://forum.kerbalspaceprogram.com/threads/90113-WEB-Visual-RemoteTech-Planner-for-MOD-RemoteTech2">here</a>
                and sources are available on <a href="https://github.com/ryohpops/kspRemoteTechPlanner">github</a>.<br />
                Issues, bug reports, contributers are always welcome.<br />
                If something goes wrong, try to delete cookies on this website first.<br />
                <br />
                Use of an autopilot mod such as <a href="http://forum.kerbalspaceprogram.com/threads/12384-PART-0-24-2-Anatid-Robotics-MuMech-MechJeb-Autopilot-v2-3-1">MechJeb</a> is recommended.<br />
                Data of bodies is based on <a href="http://wiki.kerbalspaceprogram.com/wiki/Main_Page">KSP Wiki</a>,
                <a href="http://remotetechnologiesgroup.github.io/RemoteTech/">RemoteTech2 manual</a> and
                <a href="http://forum.kerbalspaceprogram.com/threads/41652-A-more-accurate-delta-v-map">metaphor's Delta-V map</a>.<br />
                NO GUARANTEES OF CORRECTNESS.
            </div>
        </div>

        <div class="row">
            <!-- three views  -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Entire view</h3>
                        <div class="wrap-canvas">
                            <canvas id="entire" width="840" height="840"></canvas>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3>Night view</h3>
                        <div class="wrap-canvas">
                            <canvas id="night" width="400" height="400"></canvas>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3>Delta-V view</h3>
                        <div class="wrap-canvas">
                            <canvas id="deltav" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Data input -->
            <div class="col-md-3" ng-controller="inputCtrl as input">
                <h3>Data input</h3>
                <form role="form" novalidate>
                    <div class="form-group">
                        <label for="body">Body</label>
                        <select class="form-control" ng-model="input.satChain.body.name" ng-change="input.pullBody(input.satChain.body.name) || input.save()">
                            <option>Kerbol</option>
                            <option>Moho</option>
                            <option>Eve</option>
                            <optgroup label="Eve's moon:">
                                <option>Gilly</option>
                            </optgroup>
                            <option>Kerbin</option>
                            <optgroup label="Kerbin's moons:">
                                <option>Mun</option>
                                <option>Minmus</option>
                            </optgroup>
                            <option>Duna</option>
                            <optgroup label="Duna's moon:">
                                <option>Ike</option>
                            </optgroup>
                            <option>Dres</option>
                            <option>Jool</option>
                            <optgroup label="Jool's moons:">
                                <option>Laythe</option>
                                <option>Vall</option>
                                <option>Tylo</option>
                                <option>Bop</option>
                                <option>Pol</option>
                            </optgroup>
                            <option>Eeloo</option>
                            <optgroup label="User data">
                                <option ng-repeat="body in input.bodies.userBodies">{{body.name}}</option>
                            </optgroup>
                        </select>

                        <!-- manual input for body-->
                        <div class="manual-input collapse" id="manual_body" ng-init="input.manualBody = false">
                            <div class="form-group">
                                <label for="body_name">Name</label>
                                <input type="text" class="form-control" id="body_name" ng-model="input.satChain.body.name" required ng-change="input.save()" />
                            </div>
                            <div class="form-group">
                                <label for="body_color">Color</label>
                                <input type="text" class="form-control" id="body_color" ng-model="input.satChain.body.color" required ng-change="input.save()" />
                            </div>
                            <div class="form-group">
                                <label for="body_radius">Radius(km)</label>
                                <input type="number" class="form-control" id="body_radius" ng-model="input.satChain.body.radius" required ng-change="input.save()" />
                            </div>
                            <div class="form-group">
                                <label for="body_stdGravity">Standard gravitational parameter<br />(km<sup>3</sup>s<sup>-2</sup>)</label>
                                <input type="number" class="form-control" id="body_stdGravParam" ng-model="input.satChain.body.stdGravity" required ng-change="input.save()" />
                            </div>
                            <div class="form-group">
                                <label for="body_soi">Sphere of Influence(km)</label>
                                <input type="number" class="form-control" id="body_soi" ng-model="input.satChain.body.soi" required ng-change="input.save()" />
                            </div>
                        </div>

                        <!-- manual input buttons for body -->
                        <button type="button" class="btn btn-xs fluid" ng-hide="input.manualBody" data-toggle="collapse" data-target="#manual_body" ng-click="input.manualBody = true">
                            <span class="glyphicon glyphicon-collapse-down"></span>
                        </button>
                        <div class="btn-group btn-group-xs btn-group-justified" ng-show="input.manualBody">
                            <button type="button" class="btn btn-xs">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button" class="btn btn-xs">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <button type="button" class="btn btn-xs">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </button>
                        </div>
                        <button type="button" class="btn btn-xs fluid" ng-show="input.manualBody" data-toggle="collapse" data-target="#manual_body" ng-click="input.manualBody = false">
                            <span class="glyphicon glyphicon-collapse-up"></span>
                        </button>
                    </div>

                    <div class="form-group">
                        <label for="count">Count</label>
                        <input type="number" class="form-control" id="count" ng-model="input.satChain.count" required ng-change="input.save()" />
                    </div>

                    <div class="form-group">
                        <label for="altitude">Altitude(km)</label>
                        <input type="number" class="form-control" id="altitude" ng-model="input.satChain.altitude" required ng-change="input.save()" />
                    </div>

                    <div class="form-group">
                        <label for="elcNeeded">Probe electricity consumption<br />(exclude antenna's, per sec.)</label>
                        <input type="number" class="form-control" id="elcNeeded" ng-model="input.satChain.elcNeeded" required ng-change="input.save()" />
                    </div>

                    <div class="form-group">
                        <label for="antenna">Antenna</label>
                        <select class="form-control" ng-model="input.satChain.antenna.name" ng-change="input.pullAntenna(input.satChain.antenna.name) || input.save()">
                            <optgroup label="Omnidirectional">
                                <option>Reflectron DP-10</option>
                                <option>Communotron 16</option>
                                <option>CommTech EXP-VR-2T</option>
                                <option>Communotron 32</option>
                            </optgroup>
                            <optgroup label="Dish">
                                <option>Comms DTS-M1</option>
                                <option>Reflectron KR-7</option>
                            </optgroup>
                            <optgroup label="User data">
                                <option ng-repeat="antenna in input.antennas.userAntennas">{{antenna.name}}</option>
                            </optgroup>
                        </select>

                        <!-- manual input for antenna -->
                        <div class="manual-input collapse" id="manual_antenna" ng-init="input.manualAntenna = false">
                            <div class="form-group">
                                <label for="antenna_name">Name</label>
                                <input type="text" class="form-control" id="antenna_name" ng-model="input.satChain.antenna.name" required ng-change="input.save()" />
                            </div>
                            <div class="form-group">
                                <label for="antenna_type">Type</label>
                                <select class="form-control" id="antenna_type" required ng-model="input.satChain.antenna.type" ng-change="input.save()">
                                    <option value="0">omni</option>
                                    <option value="1">dish</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="antenna_range">Range(km)</label>
                                <input type="number" class="form-control" id="antenna_range" required ng-model="input.satChain.antenna.range" ng-change="input.save()" />
                            </div>
                            <div class="form-group">
                                <label for="antenna_elcNeeded">Electricity consumption(per sec.)</label>
                                <input type="number" class="form-control" id="antenna_elcNeeded" required ng-model="input.satChain.antenna.elcNeeded" ng-change="input.save()" />
                            </div>
                        </div>

                        <!-- manual input buttons for antenna -->
                        <button type="button" class="btn btn-xs fluid" ng-hide="input.manualAntenna" data-toggle="collapse" data-target="#manual_antenna" ng-click="input.manualAntenna = true">
                            <span class="glyphicon glyphicon-collapse-down"></span>
                        </button>
                        <div class="btn-group btn-group-xs btn-group-justified" ng-show="input.manualAntenna">
                            <button type="button" class="btn btn-xs manual-input" id="antenna_add">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button" class="btn btn-xs manual-input" id="antenna_remove">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <button type="button" class="btn btn-xs manual-input" id="antenna_reset">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </button>
                        </div>
                        <button type="button" class="btn btn-xs fluid" ng-show="input.manualAntenna" data-toggle="collapse" data-target="#manual_antenna" ng-click="input.manualAntenna = false">
                            <span class="glyphicon glyphicon-collapse-up"></span>
                        </button>
                    </div>

                    <div class="form-group">
                        <label for="parkingAlt">Parking altitude on launch(km)</label>
                        <input type="number" class="form-control" id="parkingAlt" required ng-model="input.satChain.parkingAlt" ng-change="input.save()" />
                    </div>
                </form>
            </div>
        </div>

        <div role="tabpanel" class="row">
            <h2>Tools</h2>

            <!-- tab navigation -->
            <ul class=" nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#desc" aria-controls="desc" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#body" aria-controls="body" role="tab" data-toggle="tab">Body edit</a></li>
                <li role="presentation"><a href="#antenna" aria-controls="antenna" role="tab" data-toggle="tab">Antenna edit</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="desc">
                    <!-- description -->
                    <div class="col-md-12">
                        <h3>How to read figures</h3>
                        Filled circles in the middle of each views mean primary body, the owner of the SoI that your satellites belong to.<br />
                        A yellow circle means sphere of influence. Any orbits cannot form themselves around the primary body above this altitude. Usually it exists beyond the Entire view's display range.<br />
                        <br />
                        Black circles mean the orbit of satellites and black dots mean each satellite.
                        A Black edged white dot means the spot which your new satellite is going into after it's hohmann transfer.<br />
                        Red clear circles mean range of antennas on each satellite. <b>Attention!</b> Unlike those figures, satellites cannot communicate each other through the primary body.<br />
                        The two-way arrow means distance of these two satellites.<br />
                        If the color of the arrow is blue, all satellites can connect to their next one. It will provides a nice ring for smooth communication.<br />
                        If the color is red, any satellites cannot connect to the others. All satellites are in solitude.<br />
                        When green circle labeled Stable appears, any orbits lower than the Stable altitude never have connection-less flights.<br />
                        <br />
                        Slide angle and Slide time mean same amount in different units.<br />
                        Shifting your hohmann transfer node according to this value makes shifting the result of the transfer by ( 360 / &lt;the number of satellites&gt; ) degrees.<br />
                        <br />
                        Note that only Entire view is dynamically scaled.<br />
                    </div>

                    <!-- concrete description -->
                    <div class="col-md-12">
                        <h3>How to use solution</h3>
                        <h4>For MechJeb users</h4>
                        <ol>
                            <li>Write down orbital period of the satellite which is at the first spot of your satellite chain.</li>
                            <li>Target the satellite, open Maneuver Planenr and create (do <b>not</b> execute) hohmann transfer.</li>
                            <li>Open Maneuver Editor and put Slide time in the Delta-V view into Shift time.</li>
                            <li>Push + at Shift time and check intersection pointer is shifted properly.</li>
                            <li>Execute node and do circularize at designated altitude.</li>
                            <li>Adjust orbital period of the new satellites to the one you written on step 1.</li>
                        </ol>

                        <h4>For manual control users</h4>
                        <ol>
                            <li>Target the satellite which is at the first spot of your satellite chain.</li>
                            <li>Create a maneuver node to perform hohmann transfer.</li>
                            <li>Slide the node forward by Slide angle or Slide time in the Delta-v view, and check intersection pointer is shifted properly.</li>
                            <li>Execute node and do circularize at designated altitude.</li>
                        </ol>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="body">

                </div>
                <div role="tabpanel" class="tab-pane fade" id="antenna">

                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="row">
            <div class="col-md-12"><hr /></div>
            <div class="col-md-12">
                Created by ryohpops, © 2014. Forum is <a href="http://forum.kerbalspaceprogram.com/threads/90113-WEB-Visual-RemoteTech-Planner-for-MOD-RemoteTech2">here</a>
                and github repository is <a href="https://github.com/ryohpops/kspRemoteTechPlanner">here</a>.<br />
                Built with <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="http://glyphicons.com/">GLYPHICONS</a> Halflings and <a href="https://github.com/CreateJS/EaselJS">EaselJS</a>,
                licensed under <a href="https://github.com/ryohpops/kspRemoteTechPlanner/blob/master/LICENSE">MIT License</a>.<br />
                <a href="http://forum.kerbalspaceprogram.com/threads/83305-Development-Resumed-RemoteTech-2">RemoteTech2</a> and all the antenna/dish names are property of Remote Technologies Group.<br />
                <a href="https://kerbalspaceprogram.com/">KSP</a>, Kerbal Space Program and all the planet/moon names are property of <a href="http://www.squad.com.mx/">Squad</a>.
                <br /><br />
            </div>
        </div>
    </div>
</body>
</html>
