<select class="form-control" ng-model="input.sc.body.name" ng-change="input.onBodyChange()">
    <optgroup label="---- Stock ----"></optgroup>
    <option>Kerbol</option>
    <option>Moho</option>
    <option>Eve</option>
    <optgroup label="Eve's moon">
        <option>Gilly</option>
    </optgroup>
    <option>Kerbin</option>
    <optgroup label="Kerbin's moons">
        <option>Mun</option>
        <option>Minmus</option>
    </optgroup>
    <option>Duna</option>
    <optgroup label="Duna's moon">
        <option>Ike</option>
    </optgroup>
    <option>Dres</option>
    <option>Jool</option>
    <optgroup label="Jool's moons">
        <option>Laythe</option>
        <option>Vall</option>
        <option>Tylo</option>
        <option>Bop</option>
        <option>Pol</option>
    </optgroup>
    <option>Eeloo</option>
    <optgroup label=""></optgroup>

    <optgroup label="---- User data ----"></optgroup>
    <option ng-repeat="userBody in input.bodies.userBodies">{{userBody.name}}</option>
</select>
