<form name="bodyEditForm" role="form" novalidate
      ng-submit="bodyEditForm.$valid && bodyEdit.onValidSubmit()">
    <table class="table table-hover editable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Radius(km)</th>
                <th>μ(km<sup>3</sup>s<sup>-2</sup>)</th>
                <th>Sphere of Influence(km)</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="body in bodyEdit.userBodies">
                <td>{{body.name}}</td>
                <td>{{body.color}}</td>
                <td>{{body.radius |number}}</td>
                <td>{{body.stdGravity |number}}</td>
                <td>{{body.soi |number}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="bodyEdit.edit(body.name)">Edit</button>
                    <button type="button" class="btn btn-danger" ng-disabled="bodyEdit.isUsed(body.name)"
                            ng-click="bodyEdit.remove(body.name)">
                        Remove
                    </button>
                </td>
            </tr>
            <tr ng-show="bodyEdit.isInEdit">
                <td>
                    <div ng-class="{'has-error': bodyEditForm.name.$touched && bodyEditForm.name.$invalid}">
                        <input name="name" type="text" required class="form-control" ng-model="bodyEdit.editData.name" ng-trim="false" />
                    </div>
                </td>
                <td>
                    <div ng-class="{'has-error': bodyEditForm.color.$touched && bodyEditForm.color.$invalid}">
                        <input name="color" type="text" required class="form-control" ng-model="bodyEdit.editData.color" ng-trim="false" />
                    </div>
                </td>
                <td>
                    <div ng-class="{'has-error': bodyEditForm.radius.$touched && bodyEditForm.radius.$invalid}">
                        <input name="radius" type="number" required class="form-control" ng-model="bodyEdit.editData.radius" ng-trim="false" />
                    </div>
                </td>
                <td>
                    <div ng-class="{'has-error': bodyEditForm.stdGravity.$touched && bodyEditForm.stdGravity.$invalid}">
                        <input name="stdGravity" type="number" required class="form-control" ng-model="bodyEdit.editData.stdGravity" ng-trim="false" />
                    </div>
                </td>
                <td>
                    <div ng-class="{'has-error': bodyEditForm.soi.$touched && bodyEditForm.soi.$invalid}">
                        <input name="soi" type="number" required class="form-control" ng-model="bodyEdit.editData.soi" ng-trim="false" />
                    </div>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" ng-disabled="bodyEditForm.$invalid">Save</button>
                    <button type="button" class="btn btn-default" ng-click="bodyEdit.cancel()">Cancel</button>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <button type="button" class="btn btn-default" ng-click="bodyEdit.add()">Add new</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
