<h3>Data input</h3>
<form role="form" novalidate>
    <div class="form-group">
        <label for="body">Body</label>
        <select class="form-control" ng-model="input.satChain.body.name" ng-change="input.updateBody() || input.save() || app.updateView()">
            <option>Kerbol</option>
            <option>Moho</option>
            <option>Eve</option>
            <optgroup label="Eve's moon:">
                <option>Gilly</option>
            </optgroup>
            <option>Kerbin</option>
            <optgroup label="Kerbin's moons:">
                <option>Mun</option>
                <option>Minmus</option>
            </optgroup>
            <option>Duna</option>
            <optgroup label="Duna's moon:">
                <option>Ike</option>
            </optgroup>
            <option>Dres</option>
            <option>Jool</option>
            <optgroup label="Jool's moons:">
                <option>Laythe</option>
                <option>Vall</option>
                <option>Tylo</option>
                <option>Bop</option>
                <option>Pol</option>
            </optgroup>
            <option>Eeloo</option>
            <optgroup label="User data">
                <option ng-repeat="userBody in input.bodies.userBodies">{{userBody.name}}</option>
            </optgroup>
        </select>

        <!-- detail for body -->
        <div class="wrap-detail" ng-show="input.bodyDetailVisible">
            <dl class="detail">
                <dt>Color</dt>
                <dd>{{input.satChain.body.color}}</dd>
                <dt>Radius</dt>
                <dd>{{input.satChain.body.radius |number}} km</dd>
                <dt>Standard gravitational parameter</dt>
                <dd>{{input.satChain.body.stdGravity |number}} km<sup>3</sup>s<sup>-2</sup></dd>
                <dt>Sphere of Influence</dt>
                <dd>{{input.satChain.body.soi |number}} km</dd>
            </dl>
        </div>

        <!-- body detail toggle -->
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group btn-group-xs" role="group">
                <button type="button" class="btn" ng-click="input.bodyDetailVisible = !input.bodyDetailVisible">
                    <span class="glyphicon glyphicon-collapse-up"></span>
                    <span class="glyphicon glyphicon-collapse-down"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="count">Count</label>
        <input type="number" class="form-control" id="count" ng-model="input.satChain.count" ng-model-options="{debounce:300}"
               required ng-change="input.save() || app.updateView()" />
    </div>

    <div class="form-group">
        <label for="altitude">Altitude(km)</label>
        <input type="number" class="form-control" id="altitude" ng-model="input.satChain.altitude" ng-model-options="{debounce:300}"
               required ng-change="input.save() || app.updateView()" />
    </div>

    <div class="form-group">
        <label for="elcNeeded">Probe electricity consumption<br />(exclude antenna's, per sec.)</label>
        <input type="number" class="form-control" id="elcNeeded" ng-model="input.satChain.elcNeeded" ng-model-options="{debounce:300}"
               required ng-change="input.save() || app.updateView()" />
    </div>

    <div class="form-group">
        <label for="antenna">Antenna</label>
        <div ng-repeat="antenna in input.satChain.antennas">
            <select class="form-control" ng-model="antenna.name" ng-change="input.updateAntenna($index) || input.save() || app.updateView()">
                <optgroup label="Omnidirectional">
                    <option>Reflectron DP-10</option>
                    <option>Communotron 16</option>
                    <option>CommTech EXP-VR-2T</option>
                    <option>Communotron 32</option>
                </optgroup>
                <optgroup label="Dish">
                    <option>Comms DTS-M1</option>
                    <option>Reflectron KR-7</option>
                    <option>Communotron 88-88</option>
                    <option>Reflectron KR-14</option>
                    <option>CommTech-1</option>
                    <option>Reflectron GX-128</option>
                </optgroup>
                <optgroup label="User data">
                    <option ng-repeat="userAntenna in input.antennas.userAntennas">{{userAntenna.name}}</option>
                </optgroup>
            </select>

            <!-- detail for antenna -->
            <div class="wrap-detail" ng-show="input.antennaDetailVisible[$index]">
                <dl class="detail">
                    <dt>Type</dt>
                    <dd>{{antenna.type |antennaType}}</dd>
                    <dt>Range</dt>
                    <dd>{{antenna.range |number}} km</dd>
                    <dt>Electricity consumption</dt>
                    <dd>{{antenna.elcNeeded |number}} /sec.</dd>
                </dl>
            </div>

            <!-- antenna detail toggle -->
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn" ng-click="input.antennaDetailVisible[$index] = !input.antennaDetailVisible[$index]">
                        <span class="glyphicon glyphicon-collapse-up"></span>
                        <span class="glyphicon glyphicon-collapse-down"></span>
                    </button>
                </div>
            </div>

            <!-- primary-antenna selector and antenna quantity-->
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-default" ng-class="{'btn-success': input.isSelectedAntenna($index)}"
                                    ng-click="input.setAntennaIndex($index) || input.save() || app.updateView()">
                                Show
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">quantity</span>
                        <input type="number" class="form-control" />
                    </div>
                </div>
            </div>
            <br />
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-default" ng-click="input.addNewAntenna() || input.save() || app.updateView()">Add after the last</button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-default" ng-click="input.removeSelectedAntenna() || input.save() || app.updateView()">Remove selected</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="parkingAlt">Parking altitude on launch(km)</label>
        <input type="number" class="form-control" id="parkingAlt" required ng-model="input.satChain.parkingAlt" ng-model-options="{debounce:300}"
               ng-change="input.save() || app.updateView()" />
    </div>
</form>
