<h3>Data input</h3>
<form role="form" novalidate ng-controller="inputCtrl as input">
    <div class="form-group">
        <label for="body">Body</label>
        <!-- body selector -->
        <div ng-include src="'app/views/bodySelectorStock.html'" ng-show="input.settings.stockData === 'stock'"></div>
        <div ng-include src="'app/views/bodySelectorRSS.html'" ng-show="input.settings.stockData === 'rss'"></div>

        <!-- detail for body -->
        <div folding-detail>
            <div class="wrap-detail">
                <dl class="detail">
                    <dt>Color</dt>
                    <dd>{{input.sc.body.color}}</dd>
                    <dt>Radius</dt>
                    <dd>{{input.sc.body.radius |number}} km</dd>
                    <dt>Standard gravitational parameter</dt>
                    <dd>{{input.sc.body.stdGravity |number}} km<sup>3</sup>s<sup>-2</sup></dd>
                    <dt>Sphere of Influence</dt>
                    <dd>{{input.sc.body.soi |number}} km</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="count">Count</label>
        <input type="number" class="form-control" id="count" ng-model="input.sc.count" ng-model-options="{debounce:300}"
               required ng-change="input.onChange()" />
    </div>

    <div class="form-group">
        <label for="altitude">Altitude(km)</label>
        <input type="number" class="form-control" id="altitude" ng-model="input.sc.altitude" ng-model-options="{debounce:300}"
               required ng-change="input.onChange()" />
    </div>

    <div class="form-group">
        <label for="elcNeeded">Probe electricity consumption<br />(exclude antenna's, per sec.)</label>
        <input type="number" class="form-control" id="elcNeeded" ng-model="input.sc.elcNeeded" ng-model-options="{debounce:300}"
               required ng-change="input.onChange()" />
    </div>

    <div class="form-group">
        <label for="antenna">Antenna</label>
        <div ng-repeat="antennaEquipment in input.sc.antennas">
            <!-- antenna selector -->
            <div ng-include src="'app/views/antennaSelectorStock.html'" ng-show="input.settings.stockData === 'stock'"></div>
            <div ng-include src="'app/views/antennaSelectorRSS.html'" ng-show="input.settings.stockData === 'rss'"></div>

            <!-- detail for antenna -->
            <div folding-detail>
                <div class="wrap-detail">
                    <dl class="detail">
                        <dt>Type</dt>
                        <dd>{{antennaEquipment.antenna.type |antennaType}}</dd>
                        <dt>Range</dt>
                        <dd>{{antennaEquipment.antenna.range |number}} km</dd>
                        <dt>Electricity consumption</dt>
                        <dd>{{antennaEquipment.antenna.elcNeeded |number}} /sec.</dd>
                    </dl>
                </div>
            </div>

            <!-- primary-antenna selector and antenna quantity-->
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-default" ng-class="{'btn-success': input.isSelectedAntenna($index)}"
                                    ng-click="input.setAntennaIndex($index)">
                                Show
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">quantity</span>
                        <input type="number" class="form-control" required ng-model="antennaEquipment.quantity" ng-model-options="{debounce:300}"
                               ng-change="input.onChange()" />
                    </div>
                </div>
            </div>
            <br />
        </div>

        <!-- antenna list controller -->
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-default" ng-click="input.onAddAntenna()">Add after the last</button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-default" ng-disabled="input.sc.antennas.length <= 1" ng-click="input.onRemoveSelectedAntenna()">
                    Remove selected
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="parkingAlt">Parking altitude on launch(km)</label>
        <input type="number" class="form-control" id="parkingAlt" required ng-model="input.sc.parkingAlt" ng-model-options="{debounce:300}"
               ng-change="input.onChange()" />
    </div>
</form>
