<div class="row">
    <!-- three views  -->
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12">
                <h3>Entire View</h3>
                <canvas id="entire" width="850" height="850"></canvas>
            </div>

            <div class="col-sm-6">
                <h3>Night View</h3>
                <canvas id="night" width="400" height="400"></canvas>
            </div>

            <div class="col-sm-6">
                <h3>Delta-V View</h3>
                <canvas id="deltav" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

    <!-- Data input -->
    <div class="col-sm-3" ng-controller="inputCtrl as input" ng-include src="'app/views/dataInput.html'"></div>
</div>
