<div class="row">
    <!-- three views  -->
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12">
                <h3>Entire View</h3>
                <div class="wrap-svg" ng-include src="'app/views/entireView.html'"></div>
            </div>

            <div class="col-sm-6">
                <h3>Night View</h3>
                <div class="wrap-svg" ng-include src="'app/views/nightView.html'"></div>
            </div>

            <div class="col-sm-6">
                <h3>Single Launch View</h3>
                <div class="wrap-svg" ng-include src="'app/views/singleLaunchView.html'"></div>
            </div>

            <div class="col-sm-6">
                <h3>Multiple Launch View</h3>
                <div class="wrap-svg" ng-include src="'app/views/multiLaunchView.html'"></div>
            </div>
        </div>
    </div>

    <!-- Data input -->
    <div class="col-sm-3" ng-include src="'app/views/dataInput.html'"></div>
</div>
